html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

p {
  padding: 20px;
}

li {
  list-style: none;
}

@media(max-width: 600px) {
  body {
    background-color: lightcoral;
    font-family: sans-serif;
  }
  .container {
    display: flex;
    flex-direction: column;
  }
  p {
    padding: 0 5px;
    line-height: 1.5em;
  }
}

@media(min-width: 600px) {
  body {
    background-color: lightblue;
  }
  .container {
    flex-wrap: wrap;
  }
}

@media(min-width: 1000px) {
  body {
    background-color: lawngreen;
  }
  .container {
    flex-wrap: nowrap;
  }
  header p {
    text-align: center;
  }
  .links {
    display: flex;
    justify-content: center;
  }
  .link-item {
    list-style: none;
    margin-right: 12px;
  }
  .aside-one .aside-one-title {
    text-align: center;
  }
  .aside-one .aside-one-chapters {
    text-align: center;
  }
  .aside-two .aside-two-title {
    text-align: center;
  }
  .aside-two .aside-two-information {
    text-align: center;
  }
  .main-content h1 {
    text-align: center;
  }
}