* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #323333;
  display: flex;
  font-size: 10px;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

header img {
  width: 50px;
}

header h1 {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: rgb(238, 238, 238);
  font-size: 1.3rem;
}

header h3 {
  display: flex;
  font-size: 1rem;
  align-items: center;
  text-transform: uppercase;
  color: #D3D3D3;
  text-decoration: underline;
}

header h3:hover {
  color: #0fa36b;
}

.text-section {
  text-align: center;
  margin-bottom: 12px;
  margin-top: 12px;
  width: 100%;
}


main {
  display: flex;
}
.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px auto 12px auto;
  width: 50%;
}
.gallery-img {
  width: 150px;
}
.footerLinks {
  border: 2px solid red;
}
.footerLinks a img {
  width: 50px;
}